services:
  stargate:
    image: stargate:latest
    environment:
      - AUTH_HOST=stargate.linuxpad.blog
      - PASSWORDS=plaintext:akwasi123
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.auth.entrypoints=http"
      - "traefik.http.routers.auth.rule=Host(`stargate.linuxpad.blog`) || Path(`/_session_exchange`)"
      - "traefik.http.services.uptime-kuma-backend.loadbalancer.server.port=8085"
      - "traefik.http.middlewares.stargate.forwardauth.address=http://stargate/_auth"

  your-service:
    image: your-service:latest
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.your-service.entrypoints=http"
      - "traefik.http.routers.your-service.rule=Host(`your-service.example.com`)"
      - "traefik.http.services.uptime-kuma-backend.loadbalancer.server.port=3001"
      - "traefik.http.routers.your-service.middlewares=stargate"  # Use Stargate middleware

networks:
  traefik:
    external: true