
services:
  db:
    image: postgres:15-alpine
    container_name: dots-db
    volumes:
      - forgejo_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  dots:
    image: codeberg.org/dots/dots:1.21
    container_name: dots
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000" # Port pour l'interface web
      - "2222:22"   # Port pour SSH (optionnel)
    volumes:
      - forgejo_data:/data
      - ./config/app.ini:/etc/dots/app.ini

    networks:
      - traefik
    environment:
      DATABASE_TYPE: ${DATABASE_TYPE}
      DATABASE_HOST: db
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      ROOT_URL: ${ROOT_URL}
      LFS_ENABLED: ${LFS_ENABLED}
      OFFLINE_MODE: ${OFFLINE_MODE}
    restart: unless-stopped


    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.dots-http.entrypoints=http"
      - "traefik.http.routers.dots-http.middlewares=redir-https"
      - "traefik.http.routers.dots-http.rule=Host(`dots.linuxpad.blog`)"
      - "traefik.http.routers.dots-http.service=noop@internal"
      - "traefik.http.routers.dots-https.entrypoints=https"
      - "traefik.http.routers.dots-https.tls=true"
      - "traefik.http.routers.dots-https.middlewares=gzip"
      - "traefik.http.routers.dots-https.rule=Host(`dots.linuxpad.blog`)"
      - "traefik.http.services.dots-backend.loadbalancer.server.scheme=http"
      - "traefik.http.services.dots-backend.loadbalancer.server.port=3000"
      - "traefik.http.routers.dots-https.middlewares=authelia@docker"

volumes:
  forgejo_db_data:
  forgejo_data:



networks:
  traefik:
    name: traefik
    external: true #do not expose external for security risk
 